<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040793037595-griun1m4slp83a4ukeh4pfrrj822i4a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040793037595-griun1m4slp83a4ukeh4pfrrj822i4a2</string>
	<key>API_KEY</key>
	<string>AIzaSyAW-PFYli4oBpRvvVNBUzmhEbyQsDSD9Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>1040793037595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramSkillbox</string>
	<key>PROJECT_ID</key>
	<string>instagramskillbox</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramskillbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040793037595:ios:894c35c82a86b85be441be</string>
</dict>
</plist>